.ExpenseItem-main{
    background: #6172c5b0;
    border-radius: 50px;
    box-shadow: 0 3px 9px 0 rgb(122 122 122 / 20%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.amount h6{
    background: #010c40;
    color: #fff;
    padding: 9px 20px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 13px;
}

.description h4{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}
.description{
    display: flex;
    align-items: center;
}
.change-btn{
    display: flex;
    align-items: center;
}
.change-btn button{
    background: #202954;
    color: #fff;
    padding: 9px 20px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 13px;
    margin-bottom: 16px;
}